<pre>
=============================================

ぱんだ整形外科クリニック お問い合わせ通知

=============================================
<h4><%= @inquiry.name %>様　からお問い合わせがありました</h4>

<p>・お問い合わせ内容

お名前: <%= @inquiry.name %>

連絡先: <%= @inquiry.email %>

お問い合わせ内容:
<%= @inquiry.message %></p>

</pre>