<div class="container">
<div class="row">
<h4>予約一覧</h4>

<div class="col-md-8">
<% if @reservations %>
	<table class="table">
		<% @reservations.each do |reservation| %>
		<tr>
			<th>予約予定日</th>
			<th>症状の内容</th>
			<th>申込日</th>
		</tr>
		<tr>
			<td><%= reservation.reservation_date %></td>
			<td><%= reservation.exam_content %></td>
			<td><%= reservation.created_at.strftime('%Y/%m/%d') %></td>
		</tr>
		<% end %>
	</table>
<% end %>
</div>
</div>
</div>
