<div class="container wrap__container">
<div class="row text-center">
<h1 class="col title-logo fadeInUp">予約一覧</h1>
	<div class="col-md-1"></div>
	<div class="col-md-10">
	<% if @reservations %>
		<table class="table">
			<tr class="Table__bg Table__bg--reservation">
				<th>予約予定日</th>
				<th>症状の内容</th>
				<th>申込日</th>
			</tr>
			<% @reservations.each do |reservation| %>
			<tr>
				<td><%= reservation.reservation_date %></td>
				<td><%= reservation.exam_content %></td>
				<td><%= reservation.created_at.strftime('%Y年%m月%d日') %></td>
			</tr>
			<% end %>
		</table>
	<% end %>
		<%= paginate @reservations %>
	</div>
</div>
</div>
