<div class="container">
<div class="row about__box">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h2>本日の予約はXX件です</h2>
		<%= link_to "確認する", "/" %>
		<h2>未確認の新規予約はXX件です</h2>
		<%= link_to "確認する", "/" %>
	</div>
</div>
</div>