<div class="row">
	<%= render "homes/navbar" %>
</div>

<div class="row">
	<h2 class="col text-center">ご予約を承りました</h2>
	<div class="layer col-8 text-center">（プログレスバーの予定）</div>
	<div class="col-8 reserve-text text-center">
		<h4>メールアドレスをご登録いただいた方には、<br>
			ご予約案内のメールをお送りしております。<br>
		    ご確認お願いいたします。<br><br>
			ご来院を心よりおまちしております。<br>
			気をつけてお越しくださいませ。</h4>

		<%= link_to "/", class: "btn btn-primary" do %>
			<h4>最初のページへ戻る</h4>
		<% end %>
	</div>
</div>

以下、createできてるか確認
pickadate <%= @pickadates.count %>
reservation <%= @reservations.count %>
