<div class="row">
	<h2 class="page__title text-center col">ご予約を承りました</h2>
	<div class="text-center">（プログレスバーの予定）</div>
	<div class="thanks__text text-center">
		<p>メールアドレスをご登録いただいた方には、<br>
			ご予約案内のメールをお送りしております。<br>
		    ご確認お願いいたします。<br><br>
			ご来院を心よりおまちしております。<br>
			気をつけてお越しくださいませ。</p>

	<% if patient_signed_in? %>
		<%= link_to patients_homes_path, class: "next__button" do %>
			<h2>最初のページへ戻る</h2>
		<% end %>
	<% else %>
		<%= link_to "/", class: "next__button" do %>
			<h2>最初のページへ戻る</h2>
		<% end %>
	<% end %>
	</div>
</div>

以下、createできてるか確認
pickadate <%= @pickadates.count %>
reservation <%= @reservations.count %>
