<nav class="navbar">
	<div class="navtext col-md-2">
		<p class="text-center">大きな文字で<br>
		   メニューを見る</p>
	</div>
	<%= link_to "/about", class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span><br>
		<span>医院のご案内</span>
	<% end %>
	<%= link_to "/exams", class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br>
		<span>診察のご案内</span>
	<% end %>
	<%= link_to "/access", class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br>
		<span>交通案内</span>
	<% end %>
	<%= link_to new_patient_session_path, class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>
		<span>会員ページ</span>
	<% end %>
</nav>