<div class="row">
	<%= render "homes/navbar" %>
</div>

<div class="row">
	<h2 class="col text-center">ごあいさつ</h2>
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<p>doctor image</p>
		</div>
		<div class="col-md-6">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			</p>
		</div>
</div>

<div class="row">
	<h2 class="col text-center">当院の特徴</h2>
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			</p>
		</div>
</div>

<div class="row">
	<h2 class="col text-center">医院のご案内</h2>
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button class="btn btn-success">交通案内はこちら</button>
		</div>
		<div class="col-md-6">
			<table class="table">
			<tr>
				<th></th>
				<th>日</th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th>土</th>
			</tr>
			<tr>
				<td>午前</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
			</tr>
			<tr>
				<td>午後</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
			</tr>
		</table>
	</div>
 </div>
