<div class="container-fluid wrap__container">
<div class="row">
	<h1 class="col title-logo text-center title-fadein">ごあいさつ</h1>
	<div class="col-md-2"></div>
	<div class="col-md-3 Img--doctorProfile about-detail"></div>
	<div class="Box__text--profile col-md-5 about-detail">
		<h2>地域の皆さまに愛される<br>　　クリニックを目指して－</h2><br>
			<div class="wrap--name">
				<span class="name">院長 熊猫 太郎</span>
				<span class="medical-department">  整形外科・リハビリテーション科</span><br>
			</div>
			<span class="message">
				<div class="message-top">この度は、当ページをご覧くださり、<br>誠にありがとうございます。</div>
				くまくま大学医学部卒業後、白浜総合病院並びにその関連病院にて整形外科医として勤務し、令和2年7月、地元である笹の葉にぱんだ整形外科を開院いたしました。患者さんお一人お一人のお考えや希望を伺いながら、最適な治療をご提案してまいります。
			</span>
	</div>
</div>

<div class="row">
	<h1 class="title-logo text-center col" data-scroll>当院の特徴</h1>
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div data-scroll>
				 <p>ぱんだ整形外科クリニックでは、一般的な整形外科治療とリハビリテーションによる運動療法を行なっております。</p>
				 <nav class="Box__bg--beige">
				 	<ul>
				 		<li>膝、腰、股関節等の痛みの診断および治療が得意としております</li>
				 		<li>運動器リハビリテーションを提供しています</li>
				 		<li>超音波を使った診断・治療をいたします</li>
				 		<li>MRIは地域の病院と医療連携し、４つの病院で撮影が可能です</li>
				 		<li>手術の適応や保存的加療についての相談をおこなっています</li>
				 	</ul>
				 </nav>
			</div>
			<div class="wrap__imgs wrap__imgs--evenly">
				<div class="Box__img--list1 Img__about--1" data-scroll></div>
				<div class="Box__img--list1 Img__about--2" data-scroll></div>
				<div class="Box__img--list1 Img__about--3" data-scroll></div>
			</div>
		</div>
</div>

<div class="row">
	<h1 class="col title-logo text-center" data-scroll>医院のご案内</h1>
		<div class="col-md-2"></div>
		<div class="col-md-4 Box__text--normal" data-scroll>
			午前は<b><big>8時30分</big></b>、午後は<b><big>1時</big></b>から<br>
			受付開始です。土曜日も診療しております。<br>
			ご予約の方はご予約時間に余裕を持ってお越しくださいますようお願い申し上げます。
			<%= link_to "交通案内はこちら", access_path, class: "btn__about btn--next" %>
		</div>
		<div class="col-md-4" data-scroll>
			<table class="Table--openinghours">
			<tr>
				<th class="small">受付時間</th>
				<th class="sun">日</th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th class="sat">土</th>
			</tr>
			<tr>
				<td>8:30〜12:00</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
				<td>●</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
			</tr>
			<tr>
				<td>13:00〜17:00</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
				<td>●</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
			</tr>
		</table>
	</div>
</div>
</div>