<div class="row">
	<h1 class="page__title text-center col">ごあいさつ</h1>
	 <div class="about__box">
		<div class="col-md-2"></div>
		<div class="profile__image col-md-4"></div>
		<div class="profile__text col-md-5">
			<p>
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2><br>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim idd est laborum.

			</p>
		</div>
	  </div>
</div>

<div class="row">
	<h1 class="page__title text-center col">当院の特徴</h1>
	<div class="about__box">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="about__text">
			 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			 <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="sample__images">
				<div class="sample__image__box img-about1"></div>
				<div class="sample__image__box img-about2"></div>
				<div class="sample__image__box img-about3"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<h1 class="page__title text-center col">医院のご案内</h1>
	<div class="about__box">
		<div class="col-md-1"></div>
		<div class="about__text col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<%= link_to "交通案内はこちら", access_path, class: "about__button" %>
		</div>
		<div class="col-md-6">
			<table class="openinghours-table">
			<tr>
				<th>受付時間</th>
				<th class="sun">日</th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th class="sat">土</th>
			</tr>
			<tr>
				<td>8:00〜12:00</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
				<td>●</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
			</tr>
			<tr>
				<td>13:00~17:00</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
				<td>●</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
			</tr>
		</table>
	</div>
 </div>
</div>
