<div class="row">
	<%= render "homes/navbar" %>
</div>

<div class="row">
	<h2 class="page__title text-center col">交通案内</h2>
	<div class="about__box">
		<div class="col-md-1"></div>
		<div class="access__text col-md-4">
			<h3>ぱんだ整形外科クリニック</h3>
			<p>〒 XXX - XXXX<br>
			   <span>
			   	　大阪府XXX XXXX<br>
			   　 XXXX XXXXX 1-1-1</span>
			   <br><br>

			   <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
			   0000 - 00 0000<br>
			   <p>最寄りのバス停<br>
			   笹の葉白浜前</p>
			   <p>最寄りの駅<br>
			   笹の葉駅</p>
		</div>
		<div class="col-md-6">
			<p>
				地図イメージ
			</p>
		</div>
	</div>
</div>
