<div class="row">
	<%= render "homes/navbar" %>
</div>

<div class="row">
	<h2 class="col text-center">交通案内</h2>
	<div class="col-md-1"></div>
		<div class="col-md-4">
			<h4>ぱんだ整形外科クリニック</h4>
			<p>〒 XXX - XXXX<br>
			   大阪府XXX XXXX<br>
			   XXXX XXXXX 1-1-1<br>

			   <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
			   0000 - 00 0000<br>
			   最寄りのバス停<br>
			   最寄りの駅</p>
		</div>
		<div class="col-md-6">
			<p>
				地図イメージ
			</p>
		</div>
</div>
