<div class="container wrap__container">
<div class="row">
			<h1 class="col title-logo text-center title-fadein">診察内容</h1>
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="text--access">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			</div>
			<div class="wrap__imgs wrap__imgs--evenly">
				<div class="Box__img--list1 Img__exam--1 access"></div>
				<div class="Box__img--list1 Img__exam--2 access"></div>
				<div class="Box__img--list1 Img__exam--3 access"></div>
			</div>
		</div>
	</div>

<div class="row">
	<h2 class="col title-logo text-center" data-scroll>当院の施設・機器</h2>
		<div class="col-md-2"></div>
		<div class="col-md-8" data-scroll>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</li>
				<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
				<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			</ul>
			<div class="wrap__imgs wrap__imgs--evenly">
				<div class="Box__img--list2 Img__exam--4" data-scroll></div>
				<div class="Box__img--list2 Img__exam--5" data-scroll></div>
			</div>
		</div>
</div>

<div class="row">
	<h2 class="title-logo text-center col" data-scroll>ご診察の流れ</h2>
		<div class="col-md-2"></div>
		<div class="col-md-8" data-scroll>
			<h4>初めてご来院の方</h4>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</li>
				<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
				<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			</ul>
		</div>
</div>
</div>