<div class="content">
<div class="row">
	<div class="main__frame">
	<div class="main__attention__wrap col-md-5">
		<div class="phonenumber text-center">
			<span><i class="icon__size fas fa-door-closed"></i>  定休日：木・日・祝日</span>
		</div>
		<table class="openinghours-table">
			<tr>
				<th>受付時間</th>
				<th class="sun">日</th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th class="sat">土</th>
			</tr>
			<tr>
				<td>8:00〜12:00</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
				<td>●</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
			</tr>
			<tr>
				<td>13:00~17:00</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
				<td>●</td>
				<td>−</td>
				<td>●</td>
				<td>●</td>
			</tr>
		</table>
	</div>
</div>
	</div>
</div>
</div>
