<div class="row">
	<%= render "homes/navbar" %>
</div>

<div class="row">
	<h1>Homes#top</h1>
	<div class="attention">
		<h4>営業時間</h4>
		<table class="table">
			<tr>
				<th></th>
				<th>日</th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th>土</th>
			</tr>
			<tr>
				<td>午前</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
			</tr>
			<tr>
				<td>午後</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
				<td>○</td>
			</tr>
		</table>
	</div>
</div>
