<div class="container">
<div class="row admin__top__wrap">
	<div class="text__admin__top col-md-6">
		<% if @reservation %>
		<h2>本日の予約は<%= @reservation.count %>件です</h2>
			<%= link_to "確認する", admins_reservations_today_path ,class: "btn__admin__link" %>
		<% else %>
			<h2>本日の予約はありません</h2>
		<% end %>
	</div>
	<div class="admin__background col-md-4"></div>
</div>
</div>