<div class="containter wrap__container">
	<div class="row text-center">
	  	<h1 class="col title-logo fadeInUp">お問い合わせ</h1>
	  	<div class="col-md-2"></div>
	  	<div class="col-md-8 Box__text--attention" data-scroll>
			  お問い合わせいただきありがとうございます。<br>
			  内容を確認の上、担当者より折り返しご連絡させていただきます。<br><br>

			  ご登録いただいたメールアドレス宛てに自動返信メールをお送りしております。<br>
			  <span>※自動返信メールが届いていない場合は、お問い合わせが完了しておりません。</span><br>
			  迷惑メールフォルダに振り分けられていることがございます。<br>
			  恐れ入りますがご確認ください。<br><br>

			  自動返信メールが届いていない場合、<br>
			  お急ぎの場合はお電話にてご連絡くださいませ。<br><br>
		</div>
	</div>
	<div class="row">
		<div class="Box__Btns">
			<%= link_to "最初のページへ戻る", "/", class: "Btn__submit" %>
		</div>
	</div>
</div>

