.Box {
	&__img {
		&--list1 {
			width: 30%;
			height: 180px;
			background-size: cover;
			box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
			@media screen and (max-width:768px) {
				width: 80%;
			}
		}
		&--list2 {
			width: 40%;
			height: 200px;
			background-size: cover;
			box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
			@media screen and (max-width:768px) {
				width: 80%;
				height: 180px;
				margin: 4% 0;
			}
		}
	}
	&__text {
		&--topMessages {
			margin-top: 35px;
			@media screen and (max-width:768px) {
				padding-left: 0!important;
				padding-right: 0!important;
				text-align: center;
				margin-top: 105px;
			}
		}
		&--eachMessage {
			background-color: rgba(255,255,255,0.7);
			padding: 5px;
			font-size: 2.7rem;
			line-height: 250%;

			@media screen and (max-width:1024px) {
				font-size: 2.4rem;
			}
			@media screen and (max-width:768px) {
				font-size: 1.8rem;
				line-height: 280%;
			}
		}
		&--profile {
			margin-left: 3%;
			@media screen and (max-width:768px) {
				width: 85%;
				margin: 0 auto;
			}
			h2 {
				color: #67c5ff;
				font-weight: bold;
				line-height: 4.0rem;
				@media screen and (max-width:768px) {
					font-size: 2.0rem;
					line-height: 2.0rem;
				}
			}
			.name {
				font-weight: bold;
				font-size: 2.4rem;
				@media screen and (max-width:768px) {
					font-size: 2.0rem;
					display: block;
				}
			}
			.medical-department {
				font-size: 1.6rem;
				@media screen and (max-width:768px) {
					display: block
				}
			}
			.message {
				line-height: 3.4rem;
			}
			.message-top {
				margin-bottom: 20px;
			}
		}
		&--reservation {
			text-align: center;
			margin-bottom: 15px;
			.blue {
				text-decoration: underline;
				text-decoration-color: #67c5ff;
				font-weight: bold;
			}
			@media screen and (max-width: 768px) {
				width: 80%;
				margin: auto;
			}
		}
		&--normal {
			padding: 18px 40px;
			line-height: 1.6;
			.sat {
				color: #3db2da;
			}
			.sun {
				color: #FF0000;
			}
			@media screen and (max-width:768px) {
		 		padding: 15px 10px;
		 		text-align: center;
		 	}
		 }

		&--paragraph {
			padding: 18px 40px;
			line-height: 1.6;
			@media screen and (max-width:768px) {
				padding: 10px 40px;
				line-height: 1.8;
			}
		}
		&--innerLeft {
			padding-left: 20%;
			font-size: 2.4rem;
		}
		&--smaller {
			width: 80%;
			margin: auto;
		}
		&--scroll {
			width: 40%;
			height: 200px;
			overflow: scroll;
		}
		&--attention {
			line-height: 4.0rem;
			font-size: 2.4rem;
			span {
				color: #FF0000;
			}
		}
	}
	&__bg {
		&--white {
			background-color: rgba(255,255,255,0.3);
			border-radius: 25px;
			width: 52%;
			height: 300px;
			padding: 1%;
			opacity: 0;
			animation: fadeInRight 2s;
			animation-fill-mode: forwards;
		}
		&--beige {
			width: 90%;
			margin: 25px auto;
			padding: 25px 50px;
			background-color: #F5F5EE;;
			border-radius: 15px;
			span {
				color: red;
			}
			@media screen and (max-width:768px) {
				width: 100%;
		 		line-height: 2.5rem;
		 		padding: 15px 10px 15px 33px;
		 	}
		}
		&--narrow {
			width: 60%;
			@media screen and (max-width:768px) {
				width: 90%;
				padding: 15px 10px;
			}
		}
	}
	&__information {
		background-color: #F5F5EE;
		border-radius: 25px;
		padding-bottom: 30px;
		font-size: 2.6rem;
		@media screen and (max-width:768px) {
	 		font-size: 1.8rem;
	 		padding-bottom: 10px;
	 		margin-top: 10%;
	 	}
		&--access {
			font-size: 2.8rem;
			h1 {
				color: #67c5ff;
				font-weight: bold;
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 0;
			}
		}
		&--session {
			width: 600px;
		}
		&--header {
			text-align: center;
			font-weight: bold;
			font-size: 3.0rem;
			background-image: image-url("header-bg.jpg");
			border-radius: 25px;
			padding: 25px 0;
			@media screen and (max-width:768px) {
	 			display: none;
	 		}
		}
		&--session-header {
			padding: 10px 0;
		}
		&--footerUpper {
			height: 280px;
			padding: 0 5%;
			border-right: 1px solid #fff;
		}
		&--footerLower {
			height: 280px;
			padding: 5% 1%;
			text-align: center;
			h3 {
				background-color: #404040;
				border-radius: 25px;
				margin: 10px 20px;
			}
		}
	}
	&__form {
		&--reservationSearch {
			padding-bottom: 40px;
		}
		&--session {
			text-align: center;
			.field {
				margin: 18px 0;
				padding: 10px 60px;
			}
			.session-attention {
				font-size: 2.0rem;
			}
		}
		&--pickadate {
			width: 70%;
			height: 260px;
			margin: 10% auto 0;
			padding-bottom: 15%;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
		 	justify-content: center;
		 	.upper {
		 		padding-bottom: 25px;
		 		letter-spacing: 0.5rem;
		 		@media screen and (max-width: 768px) {
		 			text-align: center;
		 		}
		 	}
		 	.lower {
		 		span {
		 			margin-right: 9px;
		 		}
		 		@media screen and (max-width: 768px) {
			 		text-align: center;
			 	}
		 	}
		}
	}
	&__Btns {
		-webkit-display: flex;
		display: flex;
		-webkit-justify-content: center;
	 	justify-content: space-between;
	 	&--placement {
	 		float: left;
			padding-right: 15px;
	 	}
	 	&--placementRight {
	 		justify-content: flex-end;
	 	}
	}
	&__Map {
	 	@media screen and (max-width:768px) {
			margin-top: 20px;
		}
	}
	&--mbHide {
		@media screen and (max-width:768px) {
			display: none;
		}
	}
}