.Form {
	&__labelStyle {
		font-size: 2.3rem;
		color: #333;
		margin-right: 60px;
		height: 14%;
		}
	&__label-bg {
		background-color: rgb(242, 242, 242);
		text-align: center;
	}
	&__size {
		&--area {
			width: 100%;
			height: 230px !important;
		}
		&--narrow-area {
			width: 80%;
		}
	}
	&__position {
		margin-bottom: 60px;
	}
	&__Width {
		&--birthday {
			display: inline-block !important;
			width: auto !important;
		}
		&--mbBirthday {
			@media screen and (max-width:768px) {
				width: 90%;
			}
		}
	}
}
