.Icon {
	&__size {
		&--Large {
		font-size: 3.0rem;
		}
	}
	&__subtitle {
		background-color: rgba(182,215,210,0.5);
		border: solid 3px #B6D7D2;
		border-radius: 15px;
		padding: 5px 10px;
		font-size: 2.0rem;
		margin: 5px;
	}
	&__botheringGenre {
		background: rgba(255,255,255,0.3);
		border-radius: 25px;
		padding: 0 10px;
		margin-left: 15px;
		&--style1 {
			color: #e67e22;
			border: solid 2px #e67e22;
		}
		&--style2 {
			color: #2ecc71;
			border: solid 2px #2ecc71;
		}
		&--style3 {
			color: #3498db;
			border: solid 2px #3498db;
		}
		&--style4 {
			color: #9b59b6;
			border: solid 2px #9b59b6;
		}
		&--style5 {
			color: #34495e;
			border: solid 2px #34495e;
		}
	}
	&--topPhonenumber {
		background-color: #A28C63;
		color: #ffffff;
		font-size: 2.8rem;
		width: 80%;
		border-radius: 25px;
		padding: 5px 10px;
		margin: 10px;
		font-size: 3.0rem;
	}
}