.ParallaxBg {
	background-attachment: fixed;
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	padding: 2% 5% 5%;

  	%__scrollbox {
  		background-color: #fff;
  	}
}