.Table {
	&--openinghours {
			border-collapse: collapse;
			background-color: rgba(255,255,255,0.8);
			width: 100%;
			table-layout: fixed;
			font-size: 2.0rem;
			line-height: 3.0rem;

			th {
				border-top: 1px solid #A28C63;
				font-weight: normal;
				font-size: 2.4rem;
			    background-color: #C7BAA2;
			    padding: 5px 8px;
			}
			th, td {
				text-align: center;
				border-bottom: 1px solid #A28C63;
				font-size: 2.4rem;
				@media screen and (max-width:768px) {
					font-size: 1.5rem;
				}
			}
			span {
				font-size: 2.0rem;
				@media screen and (max-width:1024px) {
					font-size: 1.5rem;
				}
				@media screen and (max-width:768px) {
					font-size: 1.2rem;
				}
			}
			.small {
				font-size: 1.8rem;
				@media screen and (max-width:1024px) {
					font-size: 1.4rem;
				}
				@media screen and (max-width:768px) {
					font-size: 1.2rem;
				}
			}
			.sat {
				color: #3db2da;
			}
			.sun {
				color: #e66a6a;
			}
	}
	&__bg {
		background-image: image-url("header-bg.jpg");
		background-size: center;
		background-position: center;
		&--reservation {
			font-size: 2.3rem;
		}
		&--admin {
			background-position: top;
			td {
				background-color: rgb(242, 242, 242);
			}
		}
	}
	&__placement {
		display: -webkit-flex;
		display: flex;
		&--header-post {
			display: flex;
			padding-top: 2%;
			margin-left: 10px;
		}
		&--reservation,
		&--inquiry,
		&--admin {
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
		 	justify-content: center;
		 	td {
		 		 border: 10px solid #fff;
		 	}
		}
		th {
			border: 20px solid #fff;
		}
	}
}
