.wrap {
	&__container {
		padding-bottom: 100px;
		margin-top: 40px;
	}
	&__imgs {
		display: flex;
		-webkit-display: flex;
		@media screen and (max-width:768px) {
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
		}
		&--normal {
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
		 	justify-content: center;
		 	margin-bottom: 70px;
		}
		&--evenly {
			padding: 3% 0;
			-webkit-flex-direction: row;
			flex-direction: row;
			-webkit-justify-content: space-evenly;
			justify-content: space-evenly;
		}
	}
	&__icons {
		&--title {
			margin: 35px 0 30px ;
			width: 50%;
			background-color: #B6D7D2;
			border-radius: 15px;
			padding: 5px 10px;
			font-size: 2.6rem;
			margin: 25px 0 30px;
			@media screen and (max-width:768px) {
				width: 90%;
				font-size: 2.0rem;
			}
		}
		&--subtitles {
			display: -webkit-flex;
			display: flex;
			flex-wrap: wrap;
			-webkit-justify-content: center;
		 	justify-content: center;
		}
		&--phonenumber {
			background-color: #fff;
			border-radius: 25px;
			padding: 5px 30px;;
			margin: 15px;
			font-weight: bold;
			font-size: 3.4rem;
			width: 80%;
			span {
				color: #3db2da;
				}
		}
		&--evenly {
			display: flex;
			width: 100%;
			justify-content: space-between;
			@media screen and (max-width:768px) {
	 			display: block;
			}
		}
	}
	&__title {
		&--topExam {
			background-color: rgba(255,255,255,0.9);
			width: 30%;
			margin: 10% auto 0;
			padding: 2px;
			border-radius: 25px;
			@media screen and (max-width:768px) {
		 		width: 90%;
		 	}
		}
	}
	&--name {
		margin-bottom: 10px;
	}
	&__main {
		&--topExam {
			background-color: rgba(255,255,255,0.9);
			width: 85%;
			margin: 7% auto;
			border-radius: 15px;
			padding: 20px 0;
			li {
		 		display: inline-block;
		 		margin: 0 20px;
			 	}
		}
		&--topExamFlow {
			display: -webkit-flex;
			display: flex;
			flex-direction: column;
			-webkit-align-items: center;
			align-items: center;
			 -webkit-justify-content: center;
		 	justify-content: center;
			 	th{
			 		height: 120px;
			 		background-color: #fff;
			 		border-top: solid 3px #B6D7D2;
			 		border-bottom: solid 3px #B6D7D2;
			 	}
			 	th p {
			 		padding: 0 15px;
			 	}
		}
		&--topAccess {
			width: 90%;
			margin: 0 auto;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			 -webkit-justify-content: center;
		 	justify-content: center;
		 	@media screen and (max-width:768px) {
		 		flex-direction: column;
		 	}
		}
		&--reservationQ{
			margin: 100px auto;
			text-align: center;
			h3 {
				margin-top: 50px;
			}
		}
		&--inquiry {
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			 -webkit-justify-content: center;
		 	justify-content: center;
			td {
				width: 400px;
			}
			.alert {
				margin: auto;
				padding: 15px 35px !important;
			}
		}
		&--adminTop {
			 display: -webkit-flex;
			 display: flex;
			 justify-content: center;
			 align-items: center;
			 -webkit-align-items: center;
			 height: 350px;
			 width: 80%;
			 padding: 25px 0;
		}
	}
}