/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "default";
@import "default.date";
@import "default.time";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Libre Baskerville', serif;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 20px;
}

header, footer {
	background-image: image-url("header-bg.jpg");
}
footer {
	color: #fff;
	font-size: 2.0rem;
	.footer-top {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		 -webkit-justify-content: center;
	 	justify-content: center;
	 	padding: 2% 0;
	 	a {
	 	color: #fff;
	 	text-decoration: none;
	 	padding: 0 5px;
	 	}
	 	a:hover {
	 	background-color: #404040;
	 	border-radius: 25px;
	 	}
	}
	li {
		list-style: none;
	}
}
.footer-top-box {
	height: 280px;
	padding: 0 5%;
	border-right: 1px solid #fff;
}
.footer-logo-box {
	height: 280px;
	padding: 5% 1%;
	text-align: center;
	h3 {
		background-color: #404040;
		border-radius: 25px;
		margin: 10px 20px;
	}
	}

a {
	text-decoration: none;
	color: #333;
}
a:hover,
a:visited,
a:active,
a:link {
	text-decoration:none;
	color: #333;
}

p {
	line-height: 3.0rem;
}

th {
  text-align: center !important;
}

.title-logo {
	margin: 60px auto;
	padding-bottom: 30px;
	width: 70%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#back {
  position: fixed;
  right: 40px;
  bottom: 30px;
}
#back i {
  font-size: 6.0rem;
}


// アニメーション
@keyframes fadeInRight {
  0% {
    opacity: 0;
    ransform: translateX(-40px);
  }
 50% {
    opacity: 1;
    ransform: translateX(0);
  }
 100% {
	opacity:1;
	transform: translateX(40px);
  }
 }

 .title-fadein {
	opacity: 0;
  	animation: titleFadeIn 2.0s;
  	animation-fill-mode: forwards;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
 50% {
    opacity: 1;
    transform: translateY(0);
  }
 100% {
	opacity:1;
	transform: translateY(0);
  }
}

.visible, .invisible {
  	opacity: 0;
    -webkit-transition: all 1.5s cubic-bezier(.175,.885,.32,1);
    -webkit-transition: all 1.5s cubic-bezier(.175,.885,.32,1.275);
    transition: all 1.5s cubic-bezier(.175,.885,.32,1.275);
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1);
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition-property: opacity,transform;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    transform : translate(0, 50px);
}
.visible {
  	opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: blur .5s cubic-bezier(.645,.045,.355,1) 0s;
    animation: blur .5s cubic-bezier(.645,.045,.355,1) 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity : 1;
	transform : translate(0, 0);
}
.Box__img--list1:nth-of-type(2),
.access-fade:nth-of-type(2), {
	transition-delay:200ms;
	-webkit-transition-delay:200ms;
}
.Box__img--list1:nth-of-type(3) {
	transition-delay:400ms;
	-webkit-transition-delay:400ms;
}
@keyframes blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}


.navbar {
	border: 0;
}
.navbar__top__border {
	border-top: solid 10px #f49ca4;
}
.toplogo {
	margin-top: 15px;
}
.btn__topbar__wrap {
	display: flex;
	justify-content: flex-end;
	.reservation__mark {
		text-align: center;
		font-size: 2.7rem;
		padding: 28px 30px 0 30px;
	}
}

.btn__topbar__radius__l {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 8px 10px 5px 10px;
  text-shadow: 3px 1px 3px #404040;
  text-decoration: none;
  color: #FCE8EA;
  background-image: linear-gradient(45deg, #FFC107 0%, #fed6e3 0%, #f49ca4 100%);
  border-bottom: solid 4px #bd6565;
  border-radius: 0 0 15px 15px;
  transition: .4s;
}

.btn__topbar__radius__l:hover {
  background-image: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 3px 1px 3px #fff;
  color: #404040;
}

.btn__topbar__radius__r {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #404040;
  background-image: linear-gradient(45deg, #FFC107 0%, #fed6e3 0%, #f49ca4 100%);
  border-bottom: solid 4px #f49ca4;
  border-radius: 0 0 15px 15px;
  transition: .4s;
}
.btn__topbar__radius__r:hover {
  background-image: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
}
.text__top__inquiry {
	font-size: 1.6rem;
	a {
		font-size: 2.3rem;
	}
	a:hover {
		color: #3db2da;
	}
}

.btn__top__inquiry {
	background-color: #B6D7D2;
	color: #333;
	font-size: 2.2rem;
	font-weight: bold;
	border-radius: 25px;
}
.inquiry__form__field {
	width: 480px;
}
.inquiry__table th {
	display: -webkit-flex;
	display: flex;
	border: 20px solid #fff;
}

.inquiry__confirm__field {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	 -webkit-justify-content: center;
 	justify-content: center;
}
.inquiry__thanks__wrap {
	line-height: 4.0rem;
	font-size: 2.4rem;
	span {
	color: #FF0000;
	}
}
li .title {
  position: relative;
  font-weight: bold;
  padding: 0.25em 0;
}
li .title:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

li .title:hover:before {
	top: -webkit-calc(100% - 3px);
	top: calc(100% - 3px);
}
.main__nav li:hover {
	height: 100%;
	background-color: rgba(255,255,255,0.7);
}

.about__box {
	display: flex;
	width: 80%;
	margin: auto;
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.btn__about {
	margin: 20px 50px 0;
	padding: 5px;
}

.pickadate__box {
	width: 70%;
	height: 260px;
	margin: auto;
	margin-bottom: 5%;
	padding-bottom: 15%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


.Btn__submit__wrapper {
	text-align: center;
}

.back__button {
	display: inline-block;
  	padding: 10px 23px;
  	margin: 20px;
  	color: #333;
  	font-size: 3rem;
  	text-decoration: none;
  	border: none;
  	border-radius: 25px;
  	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  	border-bottom: solid 3px #bd6565;
}
.reservation__textbox {
	text-align: center;
	margin-bottom: 15px;
	span {
		text-decoration: underline;
		text-decoration-color: #67c5ff;
		font-weight: bold;
	}
}
.reservation__wrap {
    background-color: #F5F5EE;
    border-radius: 25px;
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	span {
		text-decoration: none;
		color: #FF0000;
	}
}
.reservation__table,
.patient__table,
.admin__about__table {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	 -webkit-justify-content: center;
 	justify-content: center;
 	border-collapse: collapse;
 	border-collor: #fff
	td {
		padding: 10px;
	}
	h2 {
		margin-top: 70px;
	}
}
.reservation__title {
	margin-top: 70px;
}
.reservation__item,
.patient__item,
.visitor__item {
	background-color: rgb(242, 242, 242);
}
.reservation__question {
	margin-top: 100px;
	h3 {
		margin-top: 50px;
		text-align: center;
	}
	.form {
		width: 500px;
		height: 100px;
		margin: auto;
	}
}
.reservation__table td,
.patient__table td,
.admin__about__table td {
  border: 10px solid #fff;
}
.terms {
	  width: 450px;
	  height: 200px;
	  overflow: scroll;
	  background-color: #F5F5EE;
	  margin: auto;
}
.radio__button {
	float: left;
	padding-right: 15px;
}
.radio__button__box {
	display: flex;
	-webkit-justify-content: center;
 	justify-content: center;
}
.buttons {
	display: flex;
}

.thanks__text {
	font-size: 22px;
}
.topbar__mark {
	font-weight: bold;
	display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 20px;
}
#patient__topbar__mark {
	background-color: #f49ca4;
	color: #494949;
}
#admin__topbar__mark {
	background-color: #404040;
	color: #fff;
	font-weight: bold;
}
#logout__topbar__mark {
	background-color: #f49ca4;
}
#logout__topbar__mark:hover {
	background-color: #FCE8EA;
}
.Bothering__wrap {
	display: flex;
	padding-top: 2%;
	margin-left: 10px;
}
.admin__background {
	background-image: image-url("admin-index-img.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 25px;
	height: 300px;
	width: 340px;
    margin-top: 30px;
}
.search__form__wrap {
	margin-bottom: 50px;
}
.admin__reservation__table {
	td{
		background-color: rgb(242, 242, 242);
	}
}
.admin__reservation__pickadate__wrap {
	display: flex;
  	justify-content: center;
}
.admin__reservation__Btn__submit {
	text-align: center;
}

.admin__patient__wrap {
	text-align: center;
	font-size: 2.3rem;
}
.btn__admin__patient {
	background: #FCE8EA;
	border-radius: 25px;
	padding: 4px;
}
.btn__admin__patient:hover {
	background: #f49ca4;
}
.admin__reservation__table {
	text-align: center;
		th{
			text-align: center;
		}
		.table__background {
			background-image: image-url("header-bg.jpg");
		}
}

#hm-icon{
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 100%;
  height: 80px;
}
.menu-trigger {
	span {
	  position: absolute;
	  left: 5%;
	  width: 80%;
	  height: 4px;
	  background-color: transparent;
	  border-radius: 4px;
	  font-weight: bold;
	  font-size: 2.0rem;
	}
	.admin__mainnav__text {
	  font-size: 2.0rem;
	}
}

.admin__top__wrap {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 350px;
	 width: 80%;
	 background-color: #F5F5EE;
	 border-radius: 25px;
	 padding: 0 0 30px;
	 margin: 30px auto;
}
.text__admin__top {
	text-align: center;
}
.btn__admin__link {
	background-color: #f49ca4;
	border-radius: 25px;
	padding: 5px;
	font-weight: bold;
	font-size: 2.4rem;
}
.btn__admin__link:hover {
	background-color: #fed6e3;
}
.menu-trigger .menu__text {
	background-color: #000;
	font-weight: bold;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 8px;
  background-color: transparent;
  text-align: center;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(55px) rotate(-45deg);
  background-color: #fff;
  width: 50px;

}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
  width: 50px;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #84ccd4;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
  padding: 50px;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  list-style: none;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 6.0rem;
}
#sp-menu a:hover {
  background-color: #404040;
  border-radius: 50px;
  padding: 10px;
}


.text__notice {
	color: #FF0000;
	font-size: 3.0rem;
	text-align: center;
	margin-top: 30px;
}

.footer-logo {
	width: 100%;
}
.fadeInUp, .access, .text--access {
	opacity: 0;
  	animation: fadeIn 0.8s;
  	animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
 50% {
    opacity: 1;
    transform: translateY(0);
  }
 100% {
	opacity:1;
	transform: translateY(-20px);
  }
}

.fadeInUp:nth-of-type(2) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.access,
.fadeInUp:nth-of-type(3) {
	animation-delay: 1.0s;
	-webkit-animation-delay: 1.0s;
}
.title-fadein:nth-of-type(2) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
