/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Libre Baskerville', serif;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 20px;
}

header, footer {
	background: linear-gradient(#246ce2, #4f88df);
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration:none;
	color: #333;
}

p {
	line-height: 3.0rem;
}

header .navbar {
	padding-top: 10px;
}
.topbutton {
	display: flex;
	justify-content: flex-end;
}
.topbox {
	background: rgba(255,2255,255, .3);
	border-radius: 25%;
	width: 250px;
	height: 80px;
	padding: 15px;
	margin-right: 15px;
}
.topbox:hover {
	background: rgba(255,2255,255, .5);
}

#navwrap {
	width: 100%;
	height: 120px;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	background-color: rgb(242, 242, 242);
	backdrop-filter: blur(10px);
}
.main-nav {
	font-size: 2rem;
	list-style: none;
	height: 100%;
	padding: 10px 100px;
}
.main-nav ul {
	margin-bottom: 0;
}
.main-nav li {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	 -webkit-justify-content: center;
 	justify-content: center;
	float: left;
	height: 100%;
	width: 20%;
	text-align :center;
	border-left: solid 2px #f1f1f1;
  	border-right: solid 2px #f1f1f1;
	transition: .4s;
}
li .title {
  position: relative;
  font-weight: bold;
  padding: 0.25em 0;
}
li .title:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

li .title:hover:before {
	top: -webkit-calc(100% - 3px);
	top: calc(100% - 3px);
}
.main-nav li:hover {
	height: 100%;
	background-color: rgba(255,255,255,0.4);
}

.main__frame {
	height: 500px;
	width: 100%;
	background-image: url("clinic-image.jpg");
	background-size: cover;
	position: relative;
}
.main__attention__box {
	background-color: rgba(255,255,255,0.3);
	border-radius: 10%;
	height: 40%;
	margin: 20px;
}

.phonenumber {
	background-color: #A28C63;
	color: #ffffff;
	width: 200px;
}
.openinghours-table {
	border-collapse: collapse;
	background-color: rgba(255,255,255,0.3);
	height: 40%;
	th {
		border-top: 1px solid #A28C63;
		font-weight: normal;
	    background-color: #C7BAA2;
	}
}

.openinghours-table th, .openinghours-table td {
	padding: 10px 20px;
	text-align: center;
	border-bottom: 1px solid #A28C63;
}


.openinghours-table th.sat {
  	color: #3db2da;
}

.openinghours-table th.sun {
  	color: #e66a6a;
}

.page__title {
	margin: 60px auto;
	padding-bottom: 30px;
	width: 70%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.about__box {
	display: flex;
	width: 70%;
	margin: auto;
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.about__button {
	margin: 20px;
	padding: 5px;
}
.sample__images{
	display: flex;
	padding: 3% 0;
	flex-direction: row;
	justify-content: space-evenly;
}
.sample__image__box {
	width: 250px;
	height: 150px;
	background-size: contain;
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}
.img-about1 {
	background-image: url("about1.jpg");
}
.img-about2 {
	background-image: url("about2.jpg");
}
.img-about3 {
	background-image: url("about3.jpg");
}
.img-exam1 {
	background-image: url("about3.jpg");
}
.img-exam2 {
	background-image: url("about3.jpg");
}
.img-exam3 {
	background-image: url("about3.jpg");
}
.img-exam4 {
	background-image: url("exam4.jpg");
	width: 300px;
	height: 200px;
}
.img-exam5 {
	background-image: url("exam5.jpg");
	background-repeat: no-repeat;
	width: 300px;
	height: 200px;
}

.profile__image {
	height: 420px;
	width: 320px;
	background-image: url("doctor.jpg");
	background-size: cover;
	background-position: bottom center;
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}
.profile__text {
	margin-left: 3%;
	h2 {
	color: #67c5ff;
	font-weight: bold;
	}
}
.access__text h3 {
	color: #67c5ff;
	font-weight: bold;
	margin-bottom: 20px;
}
.pickadate__box {
	width: 70%;
	height: 200px;
	margin: auto;
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.next__button {
	background-color: pink;
	margin: 20px;
}

.next__button__wrapper {
	text-align: center;
}
.reserve__textbox {
	text-align: center;
	margin-bottom: 15px;
	span {
		text-decoration: underline;
		text-decoration-color: #67c5ff;
		font-weight: bold;
	}
}
.reservation__table {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	 -webkit-justify-content: center;
 	justify-content: center;
	td {
		padding: 10px;
	}
}