/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "default";
@import "default.date";
@import "default.time";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Libre Baskerville', serif;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 20px;
  @media screen and (max-width:768px) {
      font-size: 1.6rem;
    }
}

header, footer {
	background-image: image-url("header-bg.jpg");
}
li .title {
	position: relative;
	font-weight: bold;
	padding: 0.25em 0;
}
li .title:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	top:100%;
	left: 0;
	border-radius: 3px;
	background:#67c5ff;
	transition: .2s;

  @media screen and (max-width:1024px) {
    display: none;
  }
}
li .title:hover:before {
	top: -webkit-calc(100% - 3px);
	top: calc(100% - 3px);

  @media screen and (max-width:1024px) {
    display: none;
  }
}
footer {
	color: #fff;
	font-size: 2.0rem;
	.footer-top {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
	 	justify-content: center;
	 	padding: 2% 0;
    @media screen and (max-width:768px) {
      display: none;
    }
	 	a {
		 	color: #fff;
		 	text-decoration: none;
		 	padding: 0 5px;
	 	}
	 	a:hover {
		 	background-color: #404040;
		 	border-radius: 25px;
	 	}
	}
	li {
		list-style: none;
	}
}
a {
	text-decoration: none;
	color: #333;
}
a:hover,
a:visited,
a:active,
a:link {
	text-decoration:none;
	color: #373737;
}

p {
	line-height: 3.0rem;
}

th {
  	text-align: center !important;
}

.title-logo {
	margin: 60px auto;
	padding-bottom: 30px;
	width: 70%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
  @media screen and (max-width:768px) {
    margin: 25px auto;
    padding-bottom: 20px;
    font-size: 3.0rem;
  }
}
.exam-title-logo {
  @media screen and (max-width:768px) {
    font-size: 3.0rem;
  }
}
.container-fluid {
  @media screen and (max-width:768px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.row {
  @media screen and (max-width:768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

#back {
  position: fixed;
  right: 40px;
  bottom: 30px;
}
#back i {
  font-size: 6.0rem;
}



@keyframes fadeInRight {
  0% {
    opacity: 0;
    ransform: translateX(-40px);
  }
 50% {
    opacity: 1;
    ransform: translateX(0);
  }
 100% {
	opacity:1;
	transform: translateX(40px);
  }
 }

 .title-fadein {
	opacity: 0;
  	animation: titleFadeIn 2.0s;
  	animation-fill-mode: forwards;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
 50% {
    opacity: 1;
    transform: translateY(0);
  }
 100% {
	opacity:1;
	transform: translateY(0);
  }
}

.visible, .invisible {
  	opacity: 0;
    -webkit-transition: all 1.5s cubic-bezier(.175,.885,.32,1);
    -webkit-transition: all 1.5s cubic-bezier(.175,.885,.32,1.275);
    transition: all 1.5s cubic-bezier(.175,.885,.32,1.275);
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1);
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition-property: opacity,transform;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    transform : translate(0, 50px);
}
.visible {
  	opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: blur .5s cubic-bezier(.645,.045,.355,1) 0s;
    animation: blur .5s cubic-bezier(.645,.045,.355,1) 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity : 1;
	transform : translate(0, 0);
}
.Box__img--list1:nth-of-type(2),
.access-fade:nth-of-type(2), {
	transition-delay:200ms;
	-webkit-transition-delay:200ms;
}
.Box__img--list1:nth-of-type(3) {
	transition-delay:400ms;
	-webkit-transition-delay:400ms;
}
@keyframes blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}
.fadeInUp, .access {
	opacity: 0;
  	animation: fadeIn 0.8s;
  	animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
 50% {
    opacity: 1;
    transform: translateY(0);
  }
 100% {
	opacity:1;
	transform: translateY(-20px);
  }
}

.fadeInUp:nth-of-type(2) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.fadeInUp:nth-of-type(3) {
	animation-delay: 1.0s;
	-webkit-animation-delay: 1.0s;
}
.title-fadein:nth-of-type(2) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

.menu-trigger {
  font-size: 2.4rem;
  font-weight: bold;
  @media screen and (max-width:425px) {
    font-size: 1.8rem;
  }
}

.admin__mainnav__text {
	  font-size: 2.0rem;
}
.menu-trigger .menu__text {
	background-color: #000;
	font-weight: bold;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #84ccd4;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
  padding: 50px;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  list-style: none;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 6.0rem;
}
#sp-menu a:hover {
  background-color: #404040;
  border-radius: 50px;
  padding: 10px;
}
